---
import type { PageEntry } from "../layouts/PagesLayout.astro";

const entry: PageEntry = Astro.props.entry;
const basePath: string = Astro.props.basePath;

const entryPath = entry.path === "index"? "": entry.path;

const entryUrl = basePath + entryPath + (entryPath.endsWith("/")? "" : "/");

---

{
    !entry.children && (
        <li>
            <a
                class="inline-block rounded-2xl w-full hover:bg-neutral-200 dark:hover:bg-neutral-800 transition-colors px-3 py-2"
                href={entryUrl}
            >
                {entry.title}
            </a>
        </li>
    )
}
{
    entry.children && (
        <>
            <div class="mt-6 px-3 py-1 uppercase font-display text-c-text-2 font-medium">
                {entry.title}
            </div>

            <ul class="my-1">
                {entry.children!.map((nextEntry) => (
                    <Astro.self
                        entry={nextEntry}
                        basePath={`${basePath}${entry.path}/`}
                    />
                ))}
            </ul>
        </>
    )
}
