---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "./BaseLayout.astro";
import TOC from "../components/TOC.astro";
import Sidebar from "../components/Sidebar.astro";

const {
    frontmatter,
    headings,
    posts: _posts,
    indexSubpath,
    basePath,
} = Astro.props;
const posts: Record<string, any>[] = _posts;

const indexPage = posts.find((post) => post.file.endsWith(indexSubpath));

if (indexPage === undefined) {
    throw new Error(`No index page found at ${indexSubpath}`);
}

export type PageEntry = {
    path: string;
    title?: string;
    children?: Array<PageEntry>;
};

const pagesIndex: Array<PageEntry> | undefined =
    indexPage.frontmatter.pagesLayout;

if (pagesIndex === undefined) {
    console.error(indexPage.frontmatter);
    throw new Error(`No pagesLayout frontmatter found in ${indexSubpath}`);
}

function validateEntry(entry: PageEntry, basePath: string) {
    if (!entry.children) {
        // Attempt to get the page title from frontmatter
        const pageData = posts.find(
            (post) =>
                post.file.endsWith(entry.path + ".md") ||
                post.file.endsWith(entry.path + ".mdx"),
        );

        if (pageData === undefined) {
            console.error(entry);
            console.error(entry.path + ".md");
            throw new Error(`No page found at ${entry.path}`);
        }

        // set the title
        entry.title = pageData.frontmatter.title ?? "Title not set";

        return;
    }

    // Recursively search for children
    if (!entry.title) {
        console.log(entry);
        throw new Error(
            `No title found in ${basePath + entry.path}, which is a folder and requires it.`,
        );
    }

    const folderName = entry.title;

    entry.children.forEach((child) =>
        validateEntry(child, basePath + "/" + folderName),
    );
}

for (const entry of pagesIndex) {
    validateEntry(entry, basePath);
}
---

<BaseLayout title={frontmatter.title}>
    <Navbar />

    <div class="lg:grid lg:grid-cols-[14rem_auto_12rem] lg:container mx-auto font-display">
        <div
            id="sidebar"
            class="pt-12 h-screen lg:sticky top-0 fixed z-10 bg-c-bg w-60 lg:w-auto border-r-2 lg:border-0
                border-c-border-1 -translate-x-64 lg:translate-x-0 transition-transform"
        >
            <nav class="py-4 pr-2 overflow-x-scroll h-[calc(100vh-3rem)]">
                {
                    pagesIndex.map((entry) => (
                        <Sidebar entry={entry} basePath={basePath} />
                    ))
                }
            </nav>
        </div>

        <main
            class="py-[3.5rem] lg:pl-12 lg:pr-4 markdown min-w-0 small-container mx-auto"
        >
            <slot />
        </main>

        <div
            class="lg:pt-12 hidden lg:block pt-4 max-h-screen overflow-x-scroll sticky top-0"
        >
            <nav class="rounded-md lg:mt-10">
                <h2 class="font-display font-medium pb-2 text-c-text-2">
                    On this page
                </h2>

                <TOC headings={headings} />
            </nav>
        </div>
    </div>

    <script>
        import {highlightOnDom} from "./thpHighlighter";
        document.addEventListener("DOMContentLoaded", highlightOnDom);
    </script>
    <script>
        // Highlight the current url of the sidebar
        document.addEventListener("DOMContentLoaded", () => {
            let current_uri = window.location.pathname;

            const sidebar = document.getElementById("sidebar")!
                .children[0]! as HTMLElement;
            const links = sidebar.querySelectorAll("a");
            for (const link of [...links]) {
                if (link.getAttribute("href") === current_uri) {
                    sidebar.scrollTop =
                        link.offsetTop - sidebar.offsetTop - 250;

                    link.classList.add("bg-pink-200", "dark:bg-pink-950");
                    break;
                }
            }
        });
    </script>
</BaseLayout>
